.demo
    .container
        .row.justify-content-center
            .col-md-6
                .demo-title
                    h2.title Because it takes the perfect team to bring great innovations to life
                    .button-1
                        a(href="#").item-button REQUEST DEMO
                    .button-2
                        a(href="#").item-button DOWNLOAD BROCHURE
