footer
    .footer
        .container
            .row
                .col-2
                    +logo
            .bottom-pannel-1
                .row
                    .col-md-7
                        .block-left
                            p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consectetur eos impedit molestias numquam officia provident saepe tempora tenetur ut.
                    .col-md-4.ml-auto
                        .bottom-menu
                            ul
                                li
                                    a(href="#") Contact
                                li
                                    a(href="#") About
                                li
                                    a(href="#") Careers

            .bottom-pannel-2
                .row.justify-content-flex-end
                    .col-xl-4.col-lg-6
                        +footer_button
                    .col-xl-4.col-lg-6.ml-auto
                        +footer_email

            .footer-info
                .row
                    .col-md-3
                        .description
                            span All Rights Reserved. (c) Cobrainer 2016
                    .col-md-2.ml-auto
                        .container-icons
                            a(href="#")
                                i.fab.fa-facebook
                            a(href="#")
                                i.fab.fa-instagram
                            a(href="#")
                                i.fab.fa-twitter-square
