main
    .sect-2
        .container
            .row
                .col-md-5
                    +block-univers("Integrate, Visualize, Search, Collaborate",
                    "Our software help organisations and employees make faster and more confident decisions when developing new projects, new technologies, starting initiative, or growing workforce.",
                    "This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum aucto.",
                    "/image/section-2/photo.png",
                    "Tsai Evento, Twitter")
                .col-md-7
                    .container-cards
                        .row
                            +card("/image/section-2/circle-2.png", "INTERGRATE", "Cobrainer connects to existing internal data and creates expertise insight automatically")
                            +card("/image/section-2/circle-2.png", "INTERGRATE", "Cobrainer connects to existing internal data and creates expertise insight automatically")
                            +card("/image/section-2/circle-2.png", "INTERGRATE", "Cobrainer connects to existing internal data and creates expertise insight automatically")
                            +card("/image/section-2/circle-2.png", "INTERGRATE", "Cobrainer connects to existing internal data and creates expertise insight automatically")