.sect-3
    .container
        .row
            .col-xl-5.col-lg-6
                +block-left-info
            .col-xl-5.col-lg-6.offset-xl-1
                +block-univers("Accelerate your innovation engine",
                "Cobrainer develops algorithms to automatically learn what know-how and expertise concepts are within text and how different expertise concepts are related to each other semantically.",
                "This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum aucto.",
                "/image/section-3/photo-2.png",
                "Tsai Evento, Twitter")