.slider.owl-carousel.owl-theme
    .container
        .column.d-flex.justify-content-center
            .col-5
                .slide-title
                    h2.title Cobrainer is being put to work by
        .container-slide
            .row.align-items-center.justify-content-center
                .col-md-4.col-sm-6
                    +slide("/image/section-4/photo-1.png", "Project Managers", "Natalia uses Cobrainer to find the right people for her project teams")
                .col-md-4.col-sm-6
                    +slide("/image/section-4/photo-2.png", "Project Managers", "Natalia uses Cobrainer to find the right people for her project teams")
                .col-md-4.col-sm-6
                    +slide("/image/section-4/photo-3.png", "Project Managers", "Natalia uses Cobrainer to find the right people for her project teams")

    .container
        .column.d-flex.justify-content-center
            .col-5
                .slide-title
                    h2.title Cobrainer is being put to work by
        .container-slide
            .row.align-items-center.justify-content-center
                .col-md-4.col-sm-6
                    +slide("/image/section-4/photo-1.png", "Project Managers", "Natalia uses Cobrainer to find the right people for her project teams")
                .col-md-4.col-sm-6
                    +slide("/image/section-4/photo-2.png", "Project Managers", "Natalia uses Cobrainer to find the right people for her project teams")
                .col-md-4.col-sm-6
                    +slide("/image/section-4/photo-3.png", "Project Managers", "Natalia uses Cobrainer to find the right people for her project teams")

    .container
        .column.d-flex.justify-content-center
            .col-5
                .slide-title
                    h2.title Cobrainer is being put to work by
        .container-slide
            .row.align-items-center.justify-content-center
                .col-md-4.col-sm-6
                    +slide("/image/section-4/photo-1.png", "Project Managers", "Natalia uses Cobrainer to find the right people for her project teams")
                .col-md-4.col-sm-6
                    +slide("/image/section-4/photo-2.png", "Project Managers", "Natalia uses Cobrainer to find the right people for her project teams")
                .col-md-4.col-sm-6
                    +slide("/image/section-4/photo-3.png", "Project Managers", "Natalia uses Cobrainer to find the right people for her project teams")
