include ./mixins/bootstrap


meta(charset="utf-8")
meta(name="description", content="")

meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

link(rel="shortcut icon", href="./favicon.ico", type="image/x-icon")

//- Bootstrap
+bootstrap_css()

//- The font
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,900&amp;subset=cyrillic")
link(rel="stylesheet" media="screen" href="./css/owl.carousel.min.css")
link(rel="stylesheet" media="screen" href="./css/owl.theme.default.min.css")
link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous")
//- link(rel="stylesheet" media="screen" href="http://www.jqueryscript.net/css/jquerysctipttop.css")
